<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NOME_BANCO_DADOS" value="ORACLE" />
    <add key="AUTENTICACAO_WINDOWS" value="N" />
    <add key="ORACLE_TNS" value="LYDORAHM" />
    <add key="ORACLE_UID" value="PRODUTO1" />
    <add key="ORACLE_PWD" value="+y7r3WUrNMGW5Mg4rjKgZw==" />
    <add key="MSSQL_SERVER" value="" />
    <add key="MSSQL_INSTANCIA" value="" />
    <add key="MSSQL_DATABASE" value="" />
    <add key="MSSQL_USER" value="" />
    <add key="MSSQL_PWD" value="" />
    <add key="LOG_NIVEL" value="INFO" />
    <add key="LOG_ARQUIVO" value="${specialfolder:folder=CommonApplicationData}/Lydians/LD-SP/logs/${shortdate}.log" />
    <add key="TIMEOUT_VALIDACAO_DB_INICIALIZACAO" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TIMEOUT_VALIDACAO_DB" value="0" />
  </appSettings>
  <XML>
    <LYD-INTERFACEXML>
      <VersaoXML>1</VersaoXML>
      <Parametros>
        <FrontEnd>3</FrontEnd>
        <DiretorioRPT>C:\REPOSITORIO\</DiretorioRPT>
      </Parametros>
      <Mensagem>
        <LYD-Transferencia>
          <VersaoXML>4</VersaoXML>
          <Transferencia>
            <TLTipo>T</TLTipo>
            <StaticValueTLTexto>XX</StaticValueTLTexto>
            <NroSistOrig>104</NroSistOrig>
            <DtEmissao>2015-11-13</DtEmissao>
            <Valor>100</Valor>
            <Complem>XXXX</Complem>
            <Finalidade>5</Finalidade>
            <TransfCifrada>N</TransfCifrada>
            <TransfSegura>N</TransfSegura>
            <EmitISPB>00000</EmitISPB>
            <EmitTpPessoaRem>F</EmitTpPessoaRem>
            <EmitCNPJCPFRemet>02753915075</EmitCNPJCPFRemet>
            <EmitNomePessoaRemet>JONAS</EmitNomePessoaRemet>
            <Cliente>027539150751</Cliente>
            <FavBanco>001</FavBanco>
            <FavAgencia>4358</FavAgencia>
            <FavNroConta>93610</FavNroConta>
            <FavTpConta>CC</FavTpConta>
            <FavCNPJCPF1Tit>02753915075</FavCNPJCPF1Tit>
            <FavNomePessoa1Tit>JONAS</FavNomePessoa1Tit>
            <FavCNPJCPF2Tit />
            <FavNomePessoa2Tit />
            <FinalidadeIF>1</FinalidadeIF>
            <NivelPref>B</NivelPref>
            <Hist>XXX</Hist>
          </Transferencia>
        </LYD-Transferencia>
      </Mensagem>
    </LYD-INTERFACEXML>
  </XML>
</configuration>