<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="certificacao" type="LYD7SP.LYD_ConfiguracaoCertificacao, LYD7SP" />
    <section name="integracoes" type="LYD7SP.LYD_ConfiguracaoIntegracoes, LYD7SP" />
    <section name="monitoramento" type="LYD7SP.LYD_ConfiguracaoMonitoramento, LYD7SP" />
    <section name="alertas" type="LYD7SP.LYD_ConfiguracaoAlertas, LYD7SP" />
    <section name="versaoConfiguracao" type="LYD7SP.LYD_ConfiguracaoVersao, LYD7SP" />
    <section name="servidores" type="LYD7SP.LYD_ConfiguracaoServidores, LYD7SP" />
  </configSections>
  <certificacao>
    <dadosIF razaoSocial="" email="" estado="" cidade="" ispb=""
      sisbacen="" />
  </certificacao>
  <monitoramento>
    <CaixaPostal diretorio="" autenticacao="false" tipoLogon="0"
      provedor="0" dominio="" usuario="" senha="" />
  </monitoramento>
  <integracoes>
    <jdNPC codLegado="" servidor="" db="" usuario="" senha="" />
    <censoFgc urlWebServiceProducao=" https://gw.apiconnect.fgc.org.br/fgc/if-censo"
      urlWebServiceHomologacao=" https://gw.apiconnect.fgc.org.br/fgc/hml/"
      urlWebServiceProducaoContribuicoes="https://gw.apiconnect.fgc.org.br/fgc/prd"
      urlWebServiceHomologacaoContribuicoes="https://gw.apiconnect.fgc.org.br/fgc/hml"
      clientId="1f2385f1aae8b4315a0b03cafde9dc20" secretId="66c649e6f62b4769373c252e5b1a69b6"
      nroSerieChavePublica="00000000000000004DE04CB001E4C14C" nroSerieChaveBB="00000000000000004DE04CB001E4C14C"
      urlWebserviceBBHomologacao="https://if-associadas-fgc.hm.bb.com.br:7184"
      urlWebserviceBBProducao="https://if-associadas-fgc.bb.com.br" />
  </integracoes>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".;%LYDIANS_COMMON%" />
    </assemblyBinding>
  </runtime>
  <versaoConfiguracao NumeroVersao="4" />
  <servidores>
    <smtp id="srvemail" host="" porta="" seguranca="3" autenticacao="2"
      usuario="" senha="" segTimeout="60" segNovaTentativa="1800" />
  </servidores>
  <appSettings>
    <add key="COD_EMPRESA" value="05" />
    <add key="COD_AGENCIA" value="0001" />
    <add key="TIPO_FERIADO" value="N" />
    <add key="MONITORAMENTO_DIRETORIO" value="S" />
    <add key="MONITORAMENTO_BASEDADOS" value="S" />
    <add key="NOTIFICAR_ERROS_CONECTIVIDADE" value="N" />
    <add key="INTERVALO_ATUALIZACAO_STATUS" value="60" />
    <add key="INTERVALO_VERIFICACAO_MONITORAMENTOS" value="60" />
    <add key="INTERVALO_VERIFICACAO_AGENDAMENTOS" value="60" />
    <add key="INTERVALO_VERIFICACAO_TAREFAS" value="30" />
    <add key="NUMERO_MAXIMO_TAREFAS_EXECUTANDO" value="20" />
    <add key="NOME_BANCO_DADOS" value="MSSQL" />
    <add key="AUTENTICACAO_WINDOWS" value="N" />
    <add key="ORACLE_TNS" value="LYDORAHM" />
    <add key="ORACLE_UID" value="PRODUTO1" />
    <add key="ORACLE_PWD" value="QTcmEv+R4dBMi2jxBfcWNrXaKY9ldcjsVQMWO39XSZU=" />
    <add key="MSSQL_SERVER" value="" />
    <add key="MSSQL_INSTANCIA" value="" />
    <add key="MSSQL_DATABASE" value="" />
    <add key="MSSQL_USER" value="" />
    <add key="MSSQL_PWD" value="" />
    <add key="LOG_NIVEL" value="Info" />
    <add key="LOG_ARQUIVO" value="${specialfolder:folder=CommonApplicationData}/Lydians/LD-SP/logs/${shortdate}.log" />
    <add key="TIMEOUT_VALIDACAO_DB" value="0" />
    <add key="TIMEOUT_VALIDACAO_DB_INICIALIZACAO" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!--INICIO: PLUGINS DE ALERTAS-->
  <alertas>
    <plugins>
      <add plugin="AlertaEmail" componente="LYD7AlertaEmail.dll" parametros="Servidor=smtp.gmail.com; Porta=587; ModoAutenticacao=1; SegurancaAutenticacao=STARTTLS; Usuario=ccs.lydians@gmail.com; Senha=lydccs@123; TipoContato=Email; Timeout=60" interessadoTeste="CCSLydians" />
    </plugins>
    <interessados>
      <add interessado="CCSLydians" nome="Grupo CCS - Produção Assistida">
        <contatos>
          <add contato="ccs@lydians.com.br" tipoContato="Email" />
        </contatos>
      </add>
    </interessados>
    <reportes>
      <!-- Processos do Próprio Serviço de Processamento -->
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="0" nivel="INFO" />
      <!-- Processos do CCS / Informes-->
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="64" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="63" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="62" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="61" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="60" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="59" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="58" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="57" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="56" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="55" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="54" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="53" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="52" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="49" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="48" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="47" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="46" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="45" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="44" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="43" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="42" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="41" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="40" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="39" nivel="INFO" />
      <add interessado="CCSLydians" plugin="AlertaEmail" processo="38" nivel="INFO" />
    </reportes>
  </alertas>
  <!--  FINAL: PLUGIN DE ALERTAS -->
</configuration>